div.boxLinkButtonWrapper {
  margin-bottom: 1rem;
}


.btn.btn-alpha.btn-lg {
  align-content: center;
  background-color: transparent;
  border: 1px solid #088099;
  border-radius: 0;
  color: #aa0000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  height: 100%;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  width: 100%;
}


.btn.btn-alpha.btn-lg:hover {
  align-content: center;
  background-color: #088099;
  border: 1px solid #088099;
  border-radius: 0;
  color: #FFFFFF;
}


.btn.btn-alpha.btn-lg:focus {
  align-content: center;
  background-color: #088099;
  border: 1px solid #088099;
  border-radius: 0;
  color: #FFFFFF;
}